extends layout.pug

block content
	h1 Upload Post!
	if errorMessage
		span=errorMessage
	form(method="POST")
		input(placeholder="Title", type="text", required, name="title")
		input(placeholder="Content", type="text", required, name="content")
		input(type="submit", value="Post")

