body {
  margin: 0;
  background-color: black;
}

.basicBox {
  margin: 5px;
  width: 150px;
  height: 150px;
  background-color: bisque;
}

.specialBox {
  background-color: blueviolet;
  cursor: pointer;
}

.Btn {
  float: right;
  display: flex;
  direction: row;
  position: fixed;
  right: 0px;
}

.Btn button {
  margin-right: 3px;
  cursor: pointer;
}
