extends layout.pug

block content
	if errorMessage
		span=errorMessage
	form(method="POST")
		input(placeholder="Title", required, type="text", name="title")
		input(placeholder="Text", required, type="text", name="text")
		input(type="submit", value="Upload")
