@import url("toggle.css");
@import url("todo.css");

:root {
  --clock-width: 200px;
  --clock-height: 50px;
}

.clock {
  position: relative;
  width: var(--clock-width);
  height: var(--clock-height);
  font-size: calc(var(--clock-height) / 1.7);
  background-color: hsl(202, 75%, 44%);
}

.clock__text {
  position: absolute;
  right: 2px;
  top: 7px;
}

.hidden {
  display: none;
}
