.todo {
  position: relative;
  margin-top: 10px;
  width: 500px;
  height: 200px;
  background-color: burlywood;
}

.deleteBtn {
  position: absolute;
  right: 20px;
  cursor: pointer;
}

.todo2 {
  position: relative;
  margin-top: 10px;
  width: 500px;
  height: 200px;
  background-color: burlywood;
}
