extends layout.pug

block content
	if errorMessage
		span=errorMessage
	form(method="POST")
		input(placeholder="Title", required, type="text", name="title")
		input(placeholder="Summary", required, type="text", name="summary")
		input(placeholder="Year", required, type="text", name="year")
		input(placeholder="Rating", required, type="text", name="rating")
		input(placeholder="Genres, separated by comma.", required, type="text", name="genres",)
		input(type="submit", value="Upload Movie")
